<div class="playlists_background">
<div id="centerhead"><h1 class="kara">KARA-OK!</h1></div>
<h1>Songs from all Playlists</h1>
<div class="edit_song"><%= link_to "Return to Playlists", playlists_path %></div>
<br>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% @playlist_songs.each do |playlist_song| %>
  <ul>
    <li><%= link_to "#{playlist_song.song.artist} - #{playlist_song.song.title} || Playlist: #{playlist_song.playlist.name}", song_path(playlist_song.song.id) %></li>
  </ul>
<% end %>

<br></br>
</div>