/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
  background-color: indianred;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 3;
  a:link{
    color: black;
  }
  a:visited{
    color: black;
  }
  a:hover {
    font-weight: italic;
  }
}

.kara{
  position: absolute;
  top: 36px;
  left: 37.6%;
  background-color: white;
  padding: 0 20px 0px 20px;
  margin: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  z-index: 0;
  opacity: .7;
}
h1.kara{
  font-size: 53px;
  font-family: 'Montserrat Subrayada', sans-serif;
  z-index: 0;
  opacity: .9;
}
.pole{
  text-align: center;
  display: inline-block;
}
html, body{
  min-height: 100%;
}
body{
  background-color: indianred;
  margin:0px;
  padding: 0px;
  background-size: cover;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

h1, h3{
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 1.5px;
   margin-bottom: 5px;
   margin-left: 40px;
}
li{
  margin-left: 40px;
}
#playlisthead{
  display: flex;
}
h2{
  margin: 0 0 0 5px;
  padding-top: 32px;
  font-family: 'Bebas Neue', cursive;
}
h4{
   font-family: 'Comfortaa', cursive;
   margin: 5px;
   margin-bottom: 0px;
   margin-left: 40px;
}
label{
  margin-left: 40px;
}
a:link{
    color: black;
}
a:visited {
  color: black;
}
a:hover {
  font-style: italic;
  text-shadow: 1px 1px indianred;
}

.button{
  background-color: white;
  font-size: 12px;
  font-family: 'Sen', sans-serif;
  border-radius: 10px;
  box-shadow: 3px 3px;
  z-index: 0;
}
.delete_button{
  background-color: blanchedalmond;
  display: flex;
  font-size: 15px;
  font-family: 'Sen', sans-serif;
  border-radius: 10px;
  box-shadow: 3px 3px;
  z-index: 0;
  margin-top: 60px;
  margin-bottom: 70px;
  top: 50px;
}

.artist {
  font-size: 20px;
}
.title {
  font-size: 20px;
}
textarea#song_lyrics{
    width: 50%;
    font-size: 20px;
    height: 100vh;
    display: inline-flex;
    resize: none;
    background-color: blanchedalmond;
}
.lyrics_show{
  text-shadow: 1px 1px blanchedalmond;
  font-family: 'Sen', sans-serif;
  font-size: 23px;
}

.edit_song{
  margin-left: 45px;
  font-family: 'Comfortaa', cursive;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
  text-align: center;
  z-index: 2;
}
.notice{
  padding: 20px;
  background-color: #28cf36;
  color: white;
  margin-bottom: 15px;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
  text-align: center;
  z-index: 2;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 100%px;
    width: 100%;
  }
}
.button_to{
  margin-left: 40px;
  z-index: 1;
}

#video {
  position: fixed;
  top: 120px;
  left: 55%;
  right: 0px;
  bottom: 0px;
}
.video{
  margin-left: 50px;
}
.playlists_background{
  background-image: url(danboard_headphones.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
.song_background{
  background-image: url(wood_cassette.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
.playlist_background{
  background-image: url(red_cassette.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;

}
select#playlist_user_id{
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background: #d4b8b8;
  padding: 5px;
  font-size: 15px;
}

input#song_artist{
  font-size: 15px;
  position: relative;
  width: 30%;
  left: 64px;
  margin-top: 20px;
}
input#song_title{
  font-size: 15px;
  position: relative;
  width: 30%;
  left: 76px;
  margin-top: 5px;
}
input#song_video_url{
  font-size: 15px;
  position: relative;
  width: 30%;
  margin-top: 5px;
}
input#playlist_name{
  font-size: 15px;
}
input#artist{
  font-size: 15px;
}
input#title{
  font-size: 15px;
}
input.button{
  position: relative;
  bottom: 4px;
}
.lyrics_container{
  display: flex;
  margin-left: 50px;
  width: 50%;
}
h1{
  margin-bottom: 10px;
}
div.field_with_errors {
  display: inline;
}
.error{
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
  text-align: center;
  z-index: 2;
}