/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
  background-color: indianred;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  a:link{
    color: black;
  }
  a:visited{
    color: black;
  }
  a:hover {
    font-weight: italic;
  }
}

.kara{
  position: fixed;
  top: 36px;
  left: 42.35%;
  background-color: white;
  padding: 0 20px 0px 20px;
  margin: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
h1.kara{
  font-size: 53px;
}
body{
  background-color: indianred;
  margin:0px;
  padding: 0px;
}
.body{
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  background-color: blanchedalmond;
}
h1, h3{
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 1.5px;
   margin-bottom: 5px;
   margin-left: 40px;
}
li{
  margin-left: 40px;
}
#playlisthead{
  display: flex;
}
h2{
  margin: 0 0 0 5px;
  padding-top: 32px;
  font-family: 'Bebas Neue', cursive;
}
h4{
   font-family: 'Comfortaa', cursive;
   margin: 5px;
   margin-bottom: 0px;
   margin-left: 40px;
}
label{
  margin-left: 40px;
}
a:link{
    color: black;
}
a:visited {
  color: black;
}
a:hover {
  font-style: italic;
}
.button{
  background-color: blanchedalmond;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  box-shadow: 3px 3px;
}
.delete_button{
  background-color: blanchedalmond;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  box-shadow: 3px 3px;
}

.artist {
  font-size: 20px;
}
.title {
  font-size: 20px;
}
.lyrics > textarea{
    width: 50%;
    height: 100vh;
    font-size: 20px;
    display: inline block;
}
.lyrics_show{
  text-shadow: 1px 1px blanchedalmond;
}

.edit_song{
  margin-left: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
}
.notice{
  padding: 20px;
  background-color: #28cf36;
  color: white;
  margin-bottom: 15px;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 100%px;
    width: 100%;
  }
}
.button_to{
  margin-left: 40px;
}

#video {
  position: fixed;
  top: 120px;
  left: 55%;
  right: 0px;
  bottom: 0px;
}
.video{
  margin-left: 50px;
}
.playlists_background{
  background-image: url(danboard_headphones.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
.song_background{
  background-image: url(wood_cassette.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
.playlist_background{
  background-image: url(red_cassette.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}

input#song_artist{
  font-size: 15px;
  width: 30%;
  margin-left: 47px;
  margin-top: 20px;
}
input#song_title{
  font-size: 15px;
  width: 30%;
  margin-left: 57px;
  margin-top: 5px;
}
input#song_video_url{
  font-size: 15px;
  width: 30%;
  margin-top: 5px;
}
.container{
  display: flex;
  /* flex-direction: row;
  justify-content: flex-end; */
  margin-left: 50px;
  width: 50%;
}
h1{
  margin-bottom: 10px;
}